/** @format */

.quiz-container {
  .accordion-button {
    font-size: 20px;
    font-weight: 500;
  }
  .quiz-title {
    font-size: 24px;
    font-weight: 600;
  }
  .add-new-quiz {
    legend {
      font-size: 14px;
    }
    .btn-submit {
      padding: 4px 16px;
    }
  }
}
