/** @format */

.admin-container {
  display: flex;
  .admin-sidebar {
    text-align: center;
    height: 100vh;
  }

  .admin-content {
    width: 100%;

    .admin-header {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px 0 10px;
      border-bottom: 1px solid #ccc;

      span {
        font-size: 24px;
        cursor: pointer;
        color: #302d28;
      }
    }
    .admin-main {
      padding-top: 16px;
      height: calc(100vh - 60px);
    }

    .admin-setting {
      display: flex;
      align-items: center;
      gap: 20px;
      .language {
        .dropdown-toggle::after {
          display: none;
        }
      }
    }
  }
}
