/** @format */

.list-quiz-container {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 24px;

  .card {
    img {
      width: 100%;
      height: 227px;
      object-fit: cover;
    }
    .card-text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
}
